/* body{
    color: blue;
    background-color: yellow;}
    p{
        color: rgb(34, 31, 235);
        background-color: rgb(210, 247, 77);
    } */
h1 {
    font-family: serif;
    background-image: url(../img/sobre-background.jpg);
    color: red;
}

h2 {
    font-family: sans-serif;
    border-bottom: 2px solid #333333;
    
}

h3 {
    color: rgb(255, 200, 0);
    background-color: #F2EDED;
}

p {
    font-family: monospace;
}

body {
    color: #333333;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}

p {
    text-align: left;
}

p {
    line-height: 12px;
    letter-spacing: 3px;
    word-spacing: 5px;
    text-indent: 30px;
}

h1 {
    background-image: url(sobre-background.jgp);
}

figure {
    background-color: #F2EDED;
    border: 1px solid #ccc;
    text-align: center;
}

figcaption {
    font-style: italic;
}
p{
    padding: 10px 20px 15px 5px;
    margin: 0 auto;
    background-color: red;
    height: 300px;
    width: 300px;
}