/* body{
    color: blue;
    background-color: yellow;}
    p{
        color: rgb(34, 31, 235);
        background-color: rgb(210, 247, 77);
    } */
h1 {
    font-family: serif;
    background-image: url(../img/sobre-background.jpg);
    color: red;
    padding: 10px;
}

h2 {
    font-family: sans-serif;
    border-bottom: 2px solid #333333;
    margin-top: 30px;
}

p {
    font-family: monospace;
}

body {
    color: #333333;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 940px;
}

p {
    text-align: left;
}

p {
    line-height: 12px;
    letter-spacing: 3px;
    word-spacing: 5px;
    text-indent: 15px;
    padding: 10px 20px 15px 5px;
    margin: 0 auto;
    padding: 0 45px;


}

h1 {
    background-image: url(sobre-background.jgp);
}

figure {
    background-color: #F2EDED;
    border: 1px solid #ccc;
    text-align: center;
    padding: 15px;
    margin: 30px;
}

figcaption {
    font-style: italic;
    margin-top: 10px;
}
#cabecalho {
    color: white;
    text-align: center;
}